<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js" type="module"></script>
    <title>Document</title>
</head>
<body>
    <form action="/cuit" method="POST">
        <input type="text" id="cuit" name="cuit">
        <input type="submit" value="Send Ticket" onclick="">
    </form>
</body>
</html>